<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签必须放在最前面，任何其他内容都必须跟随其后！ -->
    <!-- icon -->
    <link rel="icon" href="{{ url_for('image', filename='icon.ico') }}" />
    <!-- bootstrap theme -->
    <link href="{{ url_for('static_by_self', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
    <!-- navbars -->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbars/">
    <link href="{{ url_for('static_by_self', filename='css/navbars.css') }}" rel="stylesheet" media="screen" />
    <!-- font icon -->
    <!-- Slider Component -->
    <!-- datatables -->
    <link href="{{ url_for('static_by_self', filename='css/jquery.dataTables.min.css') }}" rel="stylesheet" media="screen" />
    <!-- 表格标题和内容文字的位置样式 -->
    <style>
        caption { caption-side: top; width: auto; text-align: left }
    </style>
    <title>eRNA Atlas</title>
</head>
<body>

<!-- NAVBAR 导航栏  -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark" data-bs-theme="dark">
    <div class="container">
            <a class="navbar-brand d-flex justify-content-center col-lg-4" href="/">eRNA scAtlas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-lg-8" id="navbarsExample04">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0 col-lg-8">
                    <!-- navbar Data 下拉单 -->
                        <li class="nav-item dropdown" style="margin-right: 5px">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Data</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('publish') }}" id="label_download">Browse by Publication</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('help') }}" id="label_help">Browse All</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('download') }}" id="label_download">Browse by CellType</a></li>
                            </ul>
                        </li>
                    <!-- navbar Tools 下拉单 -->
                        <li class="nav-item dropdown" style="margin-right: 5px">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Tools</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Visualization</a></li>
                                <li><a class="dropdown-item" href="#">Analysis Tools</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    <!-- navbar Resources 下拉单 -->
                        <li class="nav-item dropdown" style="margin-right: 5px">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Experimental Resources</a></li>
                                <li><a class="dropdown-item" href="#">Data Analysis</a></li>
                                <li><a class="dropdown-item" href="#">Data Collections</a></li>
                            </ul>
                         </li>
                    <!-- navbar Help 下拉单 -->
                        <li class="nav-item dropdown" style="margin-right: 5px">
                             <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Help</a>
                             <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">User Guide</a></li>
                                 <li><a class="dropdown-item" href="#">Submitter Guide</a></li>
                                <li><a class="dropdown-item" href="#">About</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
            </div>
    </div>
</nav>

<!-- label可变区域  -->
{%  block label %} {% endblock %}

<!-- body可变区域  -->
{%  block body %} {% endblock %}

</body>
<!---start-footer---->
<footer>
    <div class="row">
        <div class="col-lg-6">
            Southwest Jiaotong University | Life Sciences and Bioengineering
        </div>
        <div class="col-lg-6">
            Copyright © 2023 Guo Lab
        </div>
    </div>
</footer>


<!-- JAVASCRIPT -->
<!-- jquery and popper -->
<script src="{{ url_for('static_by_self', filename='js/jquery-3.6.1.js') }}"></script>
<script src="{{ url_for('static_by_self', filename='js/bootstrap.bundle.min.js') }}"></script>
<!-- bootstrap -->
<!--
<script src="'js/bootstrap.min.js'
-->

<!-- datatables -->
<script src="{{ url_for('static_by_self', filename='js/jquery.dataTables.min.js') }}"></script>
<!-- script可变区域  -->
{%  block script %} {% endblock %}




<style>
    footer {
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #d6dadc;
        text-align: center;
    }
</style>
</html>