<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签必须放在最前面，任何其他内容都必须跟随其后！ -->
    <!-- icon -->
    <link rel="icon" href="{{ url_for('image', filename='icon.ico') }}" />
    <!-- bootstrap theme -->
    <link href="{{ url_for('static_by_self', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
    <!-- font icon -->
    <!-- Slider Component -->
    <!-- datatables -->
    <!-- 表格标题和内容文字的位置样式 -->
    <style>
        caption { caption-side: top; width: auto; text-align: left }
    </style>
    <title>eRNA Atlas</title>
</head>
<body>

<nav class="navbar bg-dark" data-bs-theme="dark">
  <!-- Navbar content -->
</nav>

<h1>BODY</h1>


</body>
<footer>
    FOOTER
</footer>

<!-- jquery and popper -->


<!-- bootstrap -->
<script src="{{ url_for('static_by_self', filename='js/bootstrap.min.js') }}"></script>


<!-- datatables -->



<style>
    footer {
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #efefef;
        text-align: center;
    }
</style>
</html>